<!-- #REFERENCES
The files from this tutorial were used as an initial template.
http://www.patricksoftwareblog.com/flask-tutorial/ 
this gave starting point code for plotting a single dataset using chart.js
includeing the format of the HTML file and the format for the chart data variable
all plugin imports, button creation and javascript functions were writen by Max Bowker -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IV.js Example</title>
    <!-- import plugin scripts -->
    <script src='static/Chart.min.js'></script> <!--https://www.chartjs.org/docs/latest/getting-started/installation.html-->
    <script src='static/jquery-3.4.1.min.js'></script><!--https://jquery.com/download/-->
    <!-- create buttons to trigger data updates -->
    <input type='button' value="Update Characteristic" onclick="updateData();">
    <input type='button' value="Toggle continuousUpdate" onclick="toggleContinuousUpdate();">
    <input type='button' value="Save Current Dataset" onclick="saveData();">
  </head>
  <body>
    <h1>Solar Panel Live Characteristic and operating point</h1>
    <!-- specify canvas size and id -->
    <canvas id="myChart" width="1400" height="500"></canvas>
    <script>

      //Get new characteristic data
      function getData(){
        console.log("Get Data");
        //Get JSON objects as text
        IVJson= $.ajax({type: "GET", url: "http://127.0.0.1:5000/IVData", async: false}).responseText;
        PVJson= $.ajax({type: "GET", url: "http://127.0.0.1:5000/PVData", async: false}).responseText;
        currentJson= $.ajax({type: "GET", url: "http://127.0.0.1:5000/CurrentOpPoint", async: false}).responseText;
        powerJson= $.ajax({type: "GET", url: "http://127.0.0.1:5000/PowerOpPoint", async: false}).responseText;
        //Parse text to JSON 
        IVData=JSON.parse(IVJson);
        PVData=JSON.parse(PVJson)
        Iop=JSON.parse(currentJson);
        Pop=JSON.parse(powerJson);
        Data=[IVData,PVData,Iop,Pop];
        //Return array of JSON objects 
        return(Data);
      }
      
      // define chart data JSON object
      //creation of chart data variable and all chart.js documentation found at https://www.chartjs.org/docs/latest/
      var chartData = {
        datasets : [{
            // current Operating point- dataset 0
            label: 'Operating Current',
            yAxisID: "y-axis-1",
            xAxisID: "x-axis-1",
            pointBackgroundColor: "rgba(51,51,255,1)",
            borderColor: "rgba(51,51,255,1)",
            backgroundColor:"rgba(51,51,255,0.4)",
            pointRadius: 5,
            data : [], //data variable that new data is written to      
            spanGaps: false},
            // power Operating point- dataset 1
            {label: 'Operating Power',
            yAxisID: "y-axis-2",
            xAxisID: "x-axis-1",
            pointBackgroundColor: "rgba(204,0,0,1)",
            borderColor: "rgba(204,0,0,1)",
            backgroundColor:"rgba(204,0,0,0.4)",
            pointRadius: 5,
            data : [],//data variable that new data is written to 
            spanGaps: false},
            //IV data - dataset 2
            {label: 'current',
            yAxisID: "y-axis-1",
            xAxisID: "x-axis-1",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            data : [],//data variable that new data is written to      
            spanGaps: false},
            //PV data - dataset 3
            {label: 'power',
            yAxisID:"y-axis-2",
            xAxisID: "x-axis-1",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(241,28,28,0.4)",
            borderColor: "rgba(241,28,28,1)",
            data : [],//data variable that new data is written to       
            spanGaps: false},
            //SAVED IV - dataset 4
            {label: 'saved current',
            yAxisID: "y-axis-1",
            xAxisID: "x-axis-1",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,0.4)",
            data : [], //data variable that old data is saved to      
            spanGaps: false},
            //SAVED PV - dataset 5
            {label: 'saved power',
            yAxisID:"y-axis-2",
            xAxisID: "x-axis-1",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(241,28,28,0.4)",
            borderColor: "rgba(241,28,28,0.4)",
            data : [], //data variable that old data is saved to          
            spanGaps: false}
        ]
      }
 
      // get chart canvas
      var holder = document.getElementById("myChart");
      var ctx = document.getElementById("myChart").getContext("2d");

      // create the chart using the chart canvas
      // define myChart JSON object
      //creation of myChart variable and all chart.js documentation found at https://www.chartjs.org/docs/latest/
      var myChart = new Chart(ctx, {
        type: 'scatter',
        data: chartData,
        options: {
          scales: {
            yAxes: [{
                ticks: {
                  min: 0,
                  max: 20,
                },// specify axis so it doen't autosize- makes changes in characteristic clearer
              type: "linear",
              display: true,
              position: "left",
              id: "y-axis-1",//Current axis on left
              scaleLabel: {
                display: true,
                labelString: 'Current (mA)'
              }
              }, {
              ticks: {
                min: 0,
                max: 200,
              },// specify axis so it doen't autosize- makes changes in characteristic clearer
              type: "linear",
              display: true,
              position: "right",
              id: "y-axis-2",//Power axis on right
              scaleLabel: {
                display: true,
                labelString: 'Power(mW)'
              },

              // grid line settings
              gridLines: {
                  drawOnChartArea: false, // only want the grid lines for one axis to show up
              },
            }],
            xAxes: [{
              ticks: {
                min: 0,
                max: 25,
              },
              type: "linear",
              display: true,
              id: "x-axis-1",//Voltage axis 
              scaleLabel: {
                display: true,
                labelString: 'Voltage (V)'
              }
            }],
          }
        }

      });

      
      function updateData() {
        //Call for new datasets 
        var [IVData,PVData,Iop,Pop]= getData();
        //write new JSON datasets to datasets in the chart data variable
        chartData.datasets[0].data=[Iop];
        chartData.datasets[1].data=[Pop];
        chartData.datasets[2].data=IVData;
        chartData.datasets[3].data=PVData;
        //Call chart'js to update the chart 
        myChart.update();
          
      }

      //write current IV and PV dataset to the saved IV and saved PV datasets in the chartData variable
      function saveData() {
        chartData.datasets[4].data=chartData.datasets[2].data;
        chartData.datasets[5].data=chartData.datasets[3].data;
      }

      
      var updating=false
      //toggle 'updating'
      function toggleContinuousUpdate(){
        if(updating)
        {
          updating = false
        }
        else
        {
          updating = true;
          continuousUpdate();
        }
      }

      //Update plots every second until updating is set to false
      function continuousUpdate(){
        if(updating){
          updateData();
          setTimeout(continuousUpdate,1000);
        }
      }
    </script>

  </body>
</html>
