<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IV.js Example</title>
    <!-- import plugin script -->
    <script src='static/Chart.min.js'></script>
    <script src='static/jquery-3.4.1.min.js'></script>
    <input type='button' value="Update Characteristic" onclick="updateData();">
    <input type='button' value="Star Continuous Update" onclick="continuousUpdate(1);">
    <input type='button' value="Stop Continuous Update" onclick="continuousUpdate(0);">
  </head>
  <body>
    <h1>Solar Panel Live Characteristic and operating point</h1>
    <!-- bar chart canvas element -->
    <canvas id="myChart" width="1400" height="500"></canvas>
    <script>

      // do not resize the chart canvas when its container does
      Chart.defaults.global.responsive = false;

      function getData(){
        console.log("Get Data");
        IVJson= $.ajax({type: "GET", url: "http://127.0.0.1:5000/IVData", async: false}).responseText;
        PVJson= $.ajax({type: "GET", url: "http://127.0.0.1:5000/PVData", async: false}).responseText;
        currentJson= $.ajax({type: "GET", url: "http://127.0.0.1:5000/CurrentOpPoint", async: false}).responseText;
        powerJson= $.ajax({type: "GET", url: "http://127.0.0.1:5000/PowerOpPoint", async: false}).responseText;
        IVData=JSON.parse(IVJson);
        PVData=JSON.parse(PVJson)
        Iop=JSON.parse(currentJson);
        Pop=JSON.parse(powerJson);
        Data=[IVData,PVData,Iop,Pop];
        return(Data);
      }
      
      // define chart data
      var chartData = {
        datasets : [{
            // current Operating point- dataset 0
            label: 'Operating Current',
            yAxisID: "y-axis-1",
            xAxisID: "x-axis-1",
            pointBackgroundColor: "rgba(51,51,255,1)",
            borderColor: "rgba(51,51,255,1)",
            backgroundColor:"rgba(51,51,255,0.4)",
            pointRadius: 5,
            data : [],      
            spanGaps: false},
            // power Operating point- dataset 1
            {label: 'Operating Power',
            yAxisID: "y-axis-2",
            xAxisID: "x-axis-1",
            pointBackgroundColor: "rgba(204,0,0,1)",
            borderColor: "rgba(204,0,0,1)",
            backgroundColor:"rgba(204,0,0,0.4)",
            pointRadius: 5,
            data : [],      
            spanGaps: false},
            //IV - dataset 2
            {label: 'current',
            yAxisID: "y-axis-1",
            xAxisID: "x-axis-1",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            data : [],       
            spanGaps: false},
            //PV - dataset 3
            {label: 'power',
            yAxisID:"y-axis-2",
            xAxisID: "x-axis-1",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(241,28,28,0.4)",
            borderColor: "rgba(241,28,28,1)",
            data : [],       
            spanGaps: false},
            //previous IV - dataset 4
            {label: 'previous current',
            yAxisID: "y-axis-1",
            xAxisID: "x-axis-1",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,0.4)",
            data : [],       
            spanGaps: false},
            //previous PV - dataset 5
            {label: 'previous power',
            yAxisID:"y-axis-2",
            xAxisID: "x-axis-1",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(241,28,28,0.4)",
            borderColor: "rgba(241,28,28,0.4)",
            data : [],       
            spanGaps: false}
        ]
      }
 

      // get chart canvas
      var holder = document.getElementById("myChart");
      var ctx = document.getElementById("myChart").getContext("2d");

      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: 'scatter',
        data: chartData,
        options: {
          scales: {
            yAxes: [{
              type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
              display: true,
              position: "left",
              id: "y-axis-1",
              scaleLabel: {
                display: true,
                labelString: 'Current (mA)'
              }
              }, {
              type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
              display: true,
              position: "right",
              id: "y-axis-2",
              scaleLabel: {
                display: true,
                labelString: 'Power(mW)'
              },

              // grid line settings
              gridLines: {
                  drawOnChartArea: false, // only want the grid lines for one axis to show up
              },
            }],
            xAxes: [{
              type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
              display: true,
              id: "x-axis-1",
              scaleLabel: {
                display: true,
                labelString: 'Voltage (V)'
              }
            }],
          }
        }

      });

      //Read JSON from url/Stuff
      
      function updateData() {
        
        var [IVData,PVData,Iop,Pop]= getData();
        chartData.datasets[0].data=[Iop];
        chartData.datasets[1].data=[Pop];
        chartData.datasets[4].data=chartData.datasets[2].data;
        chartData.datasets[5].data=chartData.datasets[3].data;
        chartData.datasets[2].data=IVData;
        chartData.datasets[3].data=PVData;
        myChart.update();
          
      }

      function continuousUpdate(state){
        updateData()
        if (state==1){
          setTimeout(continuousUpdate(1),1000)
        }
      }

    
    </script>

  </body>
</html>
