<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IV.js Example</title>
    <!-- import plugin script -->
    <script src='static/Chart.min.js'></script>
    <script src='static/jquery-3.4.1.min.js'></script>
    <script src='static/d3/d3.min.js'></script>
    <input type='button' value="Update" onclick="updateData();">
  </head>
  <body>
    <h1>IV data</h1>
    <!-- bar chart canvas element -->
    <canvas id="myChart" width="600" height="400"></canvas>
    <script>

      // do not resize the chart canvas when its container does
      Chart.defaults.global.responsive = false;

      function getData(){
        console.log("Get Data");
        text= $.ajax({type: "GET", url: "http://127.0.0.1:5000/Data", async: false}).responseText;
        Data=JSON.parse(text);
        return(Data)
      }
      
      Data=getData();
      // define chart data
      var chartData = {
        datasets : [{
            label: '{{ Title }}',
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 0.01,
            pointHitRadius: 0.1,
            data : Data,       
            spanGaps: false
          }
        ]
      }
 

      // get chart canvas
      var holder = document.getElementById("myChart");
      var ctx = document.getElementById("myChart").getContext("2d");

      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: 'scatter',
        data: chartData
      });

      //Read JSON from url/Stuff
      console.log(chartData.datasets[0].data)
      
      function updateData() {
        console.log("Update Data");
        var Data= getData();
        Chart.defaults.global.responsive = false;
        chartData.datasets[0].data=Data;
        myChart.update();
          
      }

    </script>

  </body>
</html>
