<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IV.js Example</title>
    <!-- import plugin script -->
    <script src='static/Chart.min.js'></script>
    <script src='static/jquery-3.4.1.min.js'></script>
    <input type='button' value="Update Characteristic" onclick="updateData();">
  </head>
  <body>
    <h1>Solar Panel Live Characteristic and operating point</h1>
    <!-- bar chart canvas element -->
    <canvas id="myChart" width="1400" height="500"></canvas>
    <script>

      // do not resize the chart canvas when its container does
      Chart.defaults.global.responsive = false;

      function getData(){
        console.log("Get Data");
        IVJson= $.ajax({type: "GET", url: "http://127.0.0.1:5000/IVData", async: false}).responseText;
        PVJson= $.ajax({type: "GET", url: "http://127.0.0.1:5000/PVData", async: false}).responseText;
        IVData=JSON.parse(IVJson);
        PVData=JSON.parse(PVJson)
        Data=[IVData,PVData]
        return(Data);
      }
      
      [IVData,PVData]=getData();
      // define chart data
      var chartData = {
        datasets : [{
            //Operating point dataset
            label: 'Operating Point',
            yAxisID: "y-axis-1",
            xAxisID: "x-axis-1",
            pointBackgroundColor: "rgba(255,102,0,1)",
            borderColor: "rgba(255,102,0,1)",
            backgroundColor:"rgba(255,102,0,0.4)",
            pointRadius: 5,
            data : [{x:15,y:200}],      
            spanGaps: false},
            //IV dataset
            {label: 'current',
            yAxisID: "y-axis-1",
            xAxisID: "x-axis-1",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            data : IVData,       
            spanGaps: false},
            //PV dataset
            {label: 'power',
            yAxisID:"y-axis-2",
            xAxisID: "x-axis-1",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(241,28,28,0.4)",
            borderColor: "rgba(241,28,28,1)",
            data : PVData,       
            spanGaps: false}
        ]
      }
 

      // get chart canvas
      var holder = document.getElementById("myChart");
      var ctx = document.getElementById("myChart").getContext("2d");

      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: 'scatter',
        data: chartData,
        options: {
          scales: {
            yAxes: [{
              type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
              display: true,
              position: "left",
              id: "y-axis-1",
              scaleLabel: {
                display: true,
                labelString: 'Current (mA)'
              }
              }, {
              type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
              display: true,
              position: "right",
              id: "y-axis-2",
              scaleLabel: {
                display: true,
                labelString: 'Power(mW)'
              },

              // grid line settings
              gridLines: {
                  drawOnChartArea: false, // only want the grid lines for one axis to show up
              },
            }],
            xAxes: [{
              type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
              display: true,
              id: "x-axis-1",
              scaleLabel: {
                display: true,
                labelString: 'Voltage (V)'
              }
            }],
          }
        }

      });

      //Read JSON from url/Stuff
      
      function updateData() {
        console.log("Update Data");
        var Data= getData();
        chartData.datasets[1].data=IVData;
        chartData.datasets[2].data=PVData;
        myChart.update();
          
      }

      function updateOpPoint() {
        text= $.ajax({type: "GET", url: "http://127.0.0.1:5000/OpPoint", async: false}).responseText;
        Data=JSON.parse(text);
        chartData.datasets[0].data[0]=Data;
        myChart.update();
        setTimeout(updateOpPoint,1000)
      }

      updateOpPoint();

    </script>

  </body>
</html>
